body{
    background-color: #181716;
    overflow: hidden;
}

img{
    width: 200px;
}

h2{
    transition: all 0.7s;
    align-self: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

input{
    transition: all .07s;
    overflow: hidden;
    width: 256px;
    height: 256px;
    border: none;
}

#btn{
    transition: all 0.3s;
    font-size: 100px;
    margin: 0 60px 0 60px;
    color: white;
}

#btn:hover{
    font-size: 125px;
    cursor: grabbing;
}

.divMain{
    overflow: hidden;
    height: 100vh;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.divButtons{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}

#winStat{
    transition:all .7s;
    background: yellow;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.tally{
    display: flex;
    align-self: center;
    justify-content: start;
    width: auto;
    gap: 3px;
}

.mark{
    transition:all 1.5s;
    font-size: 125px;
    width: 125px;
    height: 20px;
    color: #ed2424;
}

.spaghetti{
    display: flex;
    flex-direction: column;
}

#plrTal{
    margin-bottom: 200px;
}